Repository SOLUX-APP1-FLORY/Flory-Android, pull requests merged in 2024-07, with the labels that each got.

#15 feat: 기록 페이지 구현
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/solux/flory/presentation/date/DateFragment.kt
  app/src/main/java/com/solux/flory/presentation/date/DateViewModel.kt
  app/src/main/java/com/solux/flory/presentation/date/record/Flower.kt
  app/src/main/java/com/solux/flory/presentation/date/record/FlowerAdapter.kt
  app/src/main/java/com/solux/flory/presentation/date/record/FlowerDialogFragment.kt
  app/src/main/java/com/solux/flory/presentation/date/record/FlowerViewHolder.kt
  app/src/main/java/com/solux/flory/presentation/date/record/FlowerViewModel.kt
  app/src/main/java/com/solux/flory/presentation/date/record/RecordActivity.kt
  app/src/main/java/com/solux/flory/presentation/date/record/SelectFlowerActivity.kt
  app/src/main/java/com/solux/flory/presentation/profile/NeighborsActivity.kt
  app/src/main/java/com/solux/flory/presentation/profile/ProfileFragment.kt
  app/src/main/res/drawable/bg_search_bar.xml
  app/src/main/res/drawable/ic_date_add.xml
  app/src/main/res/drawable/ic_date_left_arrow.xml
  app/src/main/res/drawable/ic_date_right_arrow.xml
  app/src/main/res/drawable/ic_menu_search.xml
  app/src/main/res/drawable/ic_profile_birth.xml
  app/src/main/res/drawable/ic_profile_sex.xml
  app/src/main/res/drawable/ic_record_plant.png
  app/src/main/res/drawable/selector_menu.xml
  app/src/main/res/drawable/shape_fab_peach.xml
  app/src/main/res/drawable/shape_green_line_12_rect.xml
  app/src/main/res/drawable/shape_peach_fill_20_rect.xml
  app/src/main/res/drawable/shape_peach_fill_top30_rect.xml
  app/src/main/res/drawable/shape_peach_line_20_rect_shadow.xml
  app/src/main/res/drawable/shape_peach_line_oval.xml
  app/src/main/res/drawable/shape_white_line_20_rect_shadow.xml
  app/src/main/res/layout/activity_gift_searchneighbor.xml
  app/src/main/res/layout/activity_neighbors.xml
  app/src/main/res/layout/activity_profile_modify.xml
  app/src/main/res/layout/activity_record.xml
  app/src/main/res/layout/activity_select_flower.xml
  app/src/main/res/layout/fragment_date.xml
  app/src/main/res/layout/fragment_flower_dialog.xml
  app/src/main/res/layout/fragment_profile.xml
  app/src/main/res/layout/item_select_flower.xml
  app/src/main/res/values-v23/themes.xml
  app/src/main/res/values/colors.xml
Labels: 🍂 [가을], 🍯 [FEAT], 🌸 [Flory]

#18 mod : 회원 정보 수정 페이지 UI 수정
  app/src/main/java/com/solux/flory/presentation/profile/ProfileModifyActivity.kt
  app/src/main/res/drawable/ic_modify_check.xml
  app/src/main/res/drawable/shape_white_line_7_rect.xml
  app/src/main/res/layout/activity_profile_modify.xml
  app/src/main/res/values/colors.xml
Labels: 🍂 [가을], 🌸 [Flory]

#24 feat: 이웃 목록 && 팔로우 취소 화면 UI 구현
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/solux/flory/presentation/gift/GiftFragment.kt
  app/src/main/java/com/solux/flory/presentation/gift/SearchNeighborActivity.kt
  app/src/main/java/com/solux/flory/presentation/gift/SearchneighborActivity.kt
  app/src/main/java/com/solux/flory/presentation/gift/confirm/ConfirmActivity.kt
  app/src/main/java/com/solux/flory/presentation/gift/confirm/PresentViewHolder.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/SelectBouquetActivity.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/SelectNeighborActivity.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/SelectNeighborAdapter.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/SelectNeighborViewHolder.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/SelectneighborActivity.kt
  app/src/main/java/com/solux/flory/presentation/profile/NeighborAdapter.kt
  app/src/main/java/com/solux/flory/presentation/profile/NeighborDialogFragment.kt
  app/src/main/java/com/solux/flory/presentation/profile/NeighborInfo.kt
  app/src/main/java/com/solux/flory/presentation/profile/NeighborViewHolder.kt
  app/src/main/java/com/solux/flory/presentation/profile/NeighborsActivity.kt
  app/src/main/java/com/solux/flory/presentation/profile/ProfileFragment.kt
  app/src/main/java/com/solux/flory/presentation/profile/ProfileViewModel.kt
  app/src/main/res/drawable/button_shape_radius6.xml
  app/src/main/res/layout/activity_gift_search_neighbor.xml
  app/src/main/res/layout/activity_gift_select_bouquet.xml
  app/src/main/res/layout/activity_gift_select_neighbor.xml
  app/src/main/res/layout/activity_neighbors.xml
  app/src/main/res/layout/fragment_follow_cancel_dialog.xml
  app/src/main/res/layout/item_gift_search_neighbors.xml
  app/src/main/res/layout/item_gift_select_neighbor.xml
  app/src/main/res/layout/item_profile_neighborlist.xml
  app/src/main/res/layout/item_select_bouquet.xml
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
Labels: 🐰 [세희], 🍯 [FEAT], 🌸 [Flory]

#23 feat : 기분 수정 페이지 UI 구현
  .idea/deploymentTargetDropDown.xml
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/solux/flory/presentation/date/DateAdapter.kt
  app/src/main/java/com/solux/flory/presentation/date/DateFragment.kt
  app/src/main/java/com/solux/flory/presentation/date/DateInfo.kt
  app/src/main/java/com/solux/flory/presentation/date/DateViewHolder.kt
  app/src/main/java/com/solux/flory/presentation/date/record/FlowerDialogFragment.kt
  app/src/main/java/com/solux/flory/presentation/date/record/ModifyActivity.kt
  app/src/main/java/com/solux/flory/presentation/date/record/RecordActivity.kt
  app/src/main/res/drawable/bg_peach_gradient_0.xml
  app/src/main/res/drawable/bg_peach_gradient_180.xml
  app/src/main/res/drawable/bg_peach_gradient_270.xml
  app/src/main/res/drawable/ic_modify_left_arrow.xml
  app/src/main/res/drawable/ic_modify_rose.xml
  app/src/main/res/drawable/shape_peach_line_7_rect.xml
  app/src/main/res/drawable/shape_white_fill_top40_rect.xml
  app/src/main/res/drawable/shape_white_line_27_rect.xml
  app/src/main/res/layout/activity_modify.xml
  app/src/main/res/layout/fragment_date.xml
Labels: 🍂 [가을], 🍯 [FEAT], 🌸 [Flory]

#25 feat: 선물페이지4,5 및 선물전송완료페이지
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/solux/flory/presentation/gift/send/BouquetDialogFragment.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/SelectBouquetActivity.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/SelectCardActivity.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/SendCompleteActivity.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/WriteMessageActivity.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/adapter/BouquetAdapter.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/adapter/BouquetViewHolder.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/viewModel/BouquetViewModel.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/viewModel/SendViewModel.kt
  app/src/main/res/drawable/ic_card_blue.png
  app/src/main/res/drawable/ic_card_gray.png
  app/src/main/res/drawable/ic_card_peach.png
  app/src/main/res/drawable/ic_card_purple.png
  app/src/main/res/drawable/ic_card_yellow.png
  app/src/main/res/drawable/selector_card_blue.xml
  app/src/main/res/drawable/selector_card_gray.xml
  app/src/main/res/drawable/selector_card_peach.xml
  app/src/main/res/drawable/selector_card_purple.xml
  app/src/main/res/drawable/selector_card_yellow.xml
  app/src/main/res/layout/activity_select_card.xml
  app/src/main/res/layout/activity_send_complete.xml
  app/src/main/res/layout/activity_write_message.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
Labels: 🍓 [희재], 🍯 [FEAT], 🌸 [Flory]

#33 feat: 회원가입 뷰 구현 및 연결
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/solux/flory/presentation/auth/LoginActivity.kt
  app/src/main/java/com/solux/flory/presentation/auth/SignUpActivity.kt
  app/src/main/java/com/solux/flory/presentation/auth/SignupViewModel.kt
  app/src/main/java/com/solux/flory/presentation/auth/UserInfoActivity.kt
  app/src/main/res/drawable/ic_signup_down_arrow.xml
  app/src/main/res/drawable/shape_gray_radius7.xml
  app/src/main/res/drawable/shape_lightgray_radius7.xml
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/layout/activity_sign_up.xml
  app/src/main/res/layout/activity_user_info.xml
  app/src/main/res/values/typography.xml
Labels: 🍓 [희재], 🍯 [FEAT], 🌸 [Flory]

#35 mod: 툴바 추가 및 선물페이지 전체 Fragment 로 변경
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/solux/flory/presentation/auth/SignupViewModel.kt
  app/src/main/java/com/solux/flory/presentation/gift/GiftFragment.kt
  app/src/main/java/com/solux/flory/presentation/gift/SearchNeighborActivity.kt
  app/src/main/java/com/solux/flory/presentation/gift/SearchNeighborFragment.kt
  app/src/main/java/com/solux/flory/presentation/gift/confirm/ConfirmActivity.kt
  app/src/main/java/com/solux/flory/presentation/gift/confirm/ConfirmFragment.kt
  app/src/main/java/com/solux/flory/presentation/gift/confirm/PresentDetailActivity.kt
  app/src/main/java/com/solux/flory/presentation/gift/confirm/PresentDetailFragment.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/BouquetDialogFragment.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/SelectBouquetActivity.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/SelectBouquetFragment.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/SelectCardActivity.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/SelectCardFragment.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/SelectNeighborActivity.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/SelectNeighborFragment.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/SendCompleteActivity.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/SendCompleteFragment.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/WriteMessageActivity.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/WriteMessageFragment.kt
  app/src/main/res/drawable/ic_delete_all.xml
  app/src/main/res/layout/activity_gift_confirm.xml
  app/src/main/res/layout/activity_sign_up.xml
  app/src/main/res/layout/fragment_gift.xml
  app/src/main/res/layout/fragment_gift_confirm.xml
  app/src/main/res/layout/fragment_gift_detail.xml
  app/src/main/res/layout/fragment_gift_search_neighbor.xml
  app/src/main/res/layout/fragment_gift_select_bouquet.xml
  app/src/main/res/layout/fragment_gift_select_card.xml
  app/src/main/res/layout/fragment_gift_select_neighbor.xml
  app/src/main/res/layout/fragment_gift_send_complete.xml
  app/src/main/res/layout/fragment_gift_write_message.xml
  app/src/main/res/layout/item_gift_presents.xml
  app/src/main/res/layout/item_gift_search_neighbors.xml
  app/src/main/res/layout/item_toolbar2.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values/strings.xml
Labels: 🐰 [세희], 🌸 [Flory], 🔧 [MOD]

#37 refactor: 모든 페이지 로직 수정 및 리팩
  app/src/main/java/com/solux/flory/app/di/SignUpModule.kt
  app/src/main/java/com/solux/flory/app/interceptor/TokenInterceptor.kt
  app/src/main/java/com/solux/flory/data/ApiFactory.kt
  app/src/main/java/com/solux/flory/data/datasource/SignUpDataSource.kt
  app/src/main/java/com/solux/flory/data/datasourceimpl/SignUpDataSourceImpl.kt
  app/src/main/java/com/solux/flory/data/dto/BaseResponse.kt
  app/src/main/java/com/solux/flory/data/dto/request/DummyRequestDto.kt
  app/src/main/java/com/solux/flory/data/dto/request/RequestSignUpDto.kt
  app/src/main/java/com/solux/flory/data/repositoryimpl/SignUpRepositoryImpl.kt
  app/src/main/java/com/solux/flory/data/service/ApiKeyStorage.kt
  app/src/main/java/com/solux/flory/data/service/DummyService.kt
  app/src/main/java/com/solux/flory/data/service/SignUpApiService.kt
  app/src/main/java/com/solux/flory/domain/repository/SignUpRepository.kt
  app/src/main/java/com/solux/flory/presentation/auth/LoginActivity.kt
  app/src/main/java/com/solux/flory/presentation/auth/SignUpActivity.kt
  app/src/main/java/com/solux/flory/presentation/auth/UserInfoActivity.kt
  app/src/main/java/com/solux/flory/presentation/date/DateFragment.kt
  app/src/main/java/com/solux/flory/presentation/gift/confirm/PresentDetailFragment.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/BouquetDialogFragment.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/SelectBouquetFragment.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/SelectCardFragment.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/SelectNeighborFragment.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/SendCompleteFragment.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/WriteMessageFragment.kt
  app/src/main/java/com/solux/flory/presentation/record/ModifyFragment.kt
  app/src/main/java/com/solux/flory/presentation/record/RecordFragment.kt
  app/src/main/res/drawable/ic_home_selected.xml
  app/src/main/res/drawable/ic_profile_email.xml
  app/src/main/res/drawable/ic_signup_down_arrow.xml
  app/src/main/res/drawable/ic_social_login_google.png
  app/src/main/res/drawable/ic_social_login_kakao.png
  app/src/main/res/drawable/sel_signup_button.xml
  app/src/main/res/drawable/shape_gray_fill_7_rect.xml
  app/src/main/res/drawable/shape_green_fil_7_rect.xml
  app/src/main/res/drawable/shape_light_gray_fill_7_rect.xml
  app/src/main/res/drawable/shape_peach1_fill_24_rect.xml
  app/src/main/res/drawable/shape_peach1_fill_7_rect.xml
  app/src/main/res/drawable/shape_peach1_radius15.xml
  app/src/main/res/drawable/shape_white_fill_26_rect.xml
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/layout/activity_sign_up.xml
  app/src/main/res/layout/activity_splash.xml
  app/src/main/res/layout/activity_user_info.xml
  app/src/main/res/layout/fragment_gift.xml
  app/src/main/res/layout/fragment_gift_search_neighbor.xml
  app/src/main/res/layout/fragment_record.xml
  app/src/main/res/layout/item_profile_neighbors.xml
  app/src/main/res/layout/item_toolbar2.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values/strings.xml
Labels: 🍂 [가을], 🌸 [Flory], ♻️ [REFACTOR]
