Repository SOLUX-APP1-FLORY/Flory-Android, pull requests merged in 2024-08, with the labels that each got.

#45 feat: 다이어리 개수 조회
  app/src/main/java/com/solux/flory/data/datasource/DiaryDataSource.kt
  app/src/main/java/com/solux/flory/data/datasourceimpl/DiaryDataSourceImpl.kt
  app/src/main/java/com/solux/flory/data/dto/response/ResponseDiaryCountDto.kt
  app/src/main/java/com/solux/flory/data/repositoryimpl/DiaryRepositoryImpl.kt
  app/src/main/java/com/solux/flory/data/service/DiaryApiService.kt
  app/src/main/java/com/solux/flory/domain/repository/DiaryRepository.kt
  app/src/main/java/com/solux/flory/presentation/home/HomeFragment.kt
  app/src/main/java/com/solux/flory/presentation/home/HomeViewModel.kt
Labels: 🐰 [세희], 🍯 [FEAT]

#44 #42 [FEAT] 다이어리 작성, 조회, 수정 api 연결
  app/src/main/java/com/solux/flory/data/datasource/DiaryDataSource.kt
  app/src/main/java/com/solux/flory/data/datasourceimpl/DiaryDataSourceImpl.kt
  app/src/main/java/com/solux/flory/data/dto/response/ResponseDiaryViewDto.kt
  app/src/main/java/com/solux/flory/data/dto/response/ResponseDiaryWriteDto.kt
  app/src/main/java/com/solux/flory/data/mapper/ResponseDiaryViewDtoMapper.kt
  app/src/main/java/com/solux/flory/data/repositoryimpl/DiaryRepositoryImpl.kt
  app/src/main/java/com/solux/flory/data/service/DiaryApiService.kt
  app/src/main/java/com/solux/flory/domain/entity/DiaryViewEntity.kt
  app/src/main/java/com/solux/flory/domain/repository/DiaryRepository.kt
  app/src/main/java/com/solux/flory/presentation/record/ModifyFragment.kt
  app/src/main/java/com/solux/flory/presentation/record/ModifyViewModel.kt
Labels: 🍂 [가을], 🍯 [FEAT], 🌸 [Flory]

#53 feat: 편지 작성 api 연결
  app/src/main/java/com/solux/flory/app/di/LetterModule.kt
  app/src/main/java/com/solux/flory/app/di/RetrofitModule.kt
  app/src/main/java/com/solux/flory/data/datasource/LetterDataSource.kt
  app/src/main/java/com/solux/flory/data/datasourceimpl/LetterDataSourceImpl.kt
  app/src/main/java/com/solux/flory/data/dto/request/RequestLetterDto.kt
  app/src/main/java/com/solux/flory/data/dto/response/ResponseLetterDto.kt
  app/src/main/java/com/solux/flory/data/repositoryimpl/LetterRepositoryImpl.kt
  app/src/main/java/com/solux/flory/data/repositoryimpl/LoginRepositoryImpl.kt
  app/src/main/java/com/solux/flory/data/service/LetterApiService.kt
  app/src/main/java/com/solux/flory/domain/repository/LetterRepository.kt
  app/src/main/java/com/solux/flory/presentation/auth/LoginActivity.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/SelectBouquetFragment.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/SelectCardFragment.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/SelectNeighborFragment.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/WriteMessageFragment.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/viewModel/SendViewModel.kt
  app/src/main/java/com/solux/flory/presentation/home/HomeViewModel.kt
Labels: 🍂 [가을], 🍯 [FEAT], 🌸 [Flory]

#54 refactor: api dto 및 로직 수정
  app/src/main/java/com/solux/flory/data/datasource/NeighborDataSource.kt
  app/src/main/java/com/solux/flory/data/datasource/SignUpDataSource.kt
  app/src/main/java/com/solux/flory/data/datasourceimpl/NeighborDataSourceImpl.kt
  app/src/main/java/com/solux/flory/data/datasourceimpl/SignUpDataSourceImpl.kt
  app/src/main/java/com/solux/flory/data/dto/request/RequestLetterDto.kt
  app/src/main/java/com/solux/flory/data/dto/request/RequestNeighborSearchDto.kt
  app/src/main/java/com/solux/flory/data/dto/response/ResponseUserInfoDto.kt
  app/src/main/java/com/solux/flory/data/repositoryimpl/NeighborRepositoryImpl.kt
  app/src/main/java/com/solux/flory/data/repositoryimpl/SignUpRepositoryImpl.kt
  app/src/main/java/com/solux/flory/data/service/ApiKeyStorage.kt
  app/src/main/java/com/solux/flory/data/service/BouquetApiService.kt
  app/src/main/java/com/solux/flory/data/service/NeighborApiService.kt
  app/src/main/java/com/solux/flory/data/service/SignUpApiService.kt
  app/src/main/java/com/solux/flory/domain/entity/BouquetInfoEntity.kt
  app/src/main/java/com/solux/flory/domain/repository/SignUpRepository.kt
  app/src/main/java/com/solux/flory/presentation/auth/SignupViewModel.kt
  app/src/main/java/com/solux/flory/presentation/gift/SearchNeighborFragment.kt
  app/src/main/java/com/solux/flory/presentation/gift/confirm/ConfirmFragment.kt
  app/src/main/java/com/solux/flory/presentation/profile/NeighborsFragment.kt
  app/src/main/java/com/solux/flory/presentation/profile/ProfileFragment.kt
  app/src/main/java/com/solux/flory/presentation/record/ModifyFragment.kt
  app/src/main/java/com/solux/flory/presentation/record/ModifyViewModel.kt
  app/src/main/java/com/solux/flory/presentation/record/RecordFragment.kt
Labels: 🍂 [가을], 🌸 [Flory], ♻️ [REFACTOR]

#58 [MOD] : 인터셉터 수정
  app/src/main/java/com/solux/flory/app/interceptor/TokenInterceptor.kt
  app/src/main/java/com/solux/flory/data/dto/request/RequestSignUpDto.kt
  app/src/main/java/com/solux/flory/data/dto/response/ResponseUserInfoDto.kt
  app/src/main/java/com/solux/flory/presentation/auth/SignupViewModel.kt
  app/src/main/java/com/solux/flory/presentation/auth/UserInfoActivity.kt
  app/src/main/java/com/solux/flory/presentation/gift/GiftFragment.kt
  app/src/main/java/com/solux/flory/presentation/gift/SearchNeighborFragment.kt
  app/src/main/java/com/solux/flory/presentation/gift/confirm/PresentViewModel.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/SelectNeighborFragment.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/SelectNeighborViewModel.kt
  app/src/main/java/com/solux/flory/presentation/main/MainActivity.kt
  app/src/main/res/values/strings.xml
Labels: 🍂 [가을], 🌸 [Flory], 🔧 [MOD]

#59 mod: 다이어리 api 빼고 다 붙임
  app/src/main/java/com/solux/flory/data/dto/request/RequestDiaryWriteDto.kt
  app/src/main/java/com/solux/flory/data/dto/response/ResponseUserInfoDto.kt
  app/src/main/java/com/solux/flory/data/mapper/ResponseBouquetDtoMapper.kt
  app/src/main/java/com/solux/flory/data/repositoryimpl/NeighborRepositoryImpl.kt
  app/src/main/java/com/solux/flory/data/service/LetterApiService.kt
  app/src/main/java/com/solux/flory/data/service/NeighborApiService.kt
  app/src/main/java/com/solux/flory/domain/entity/BouquetInfoEntity.kt
  app/src/main/java/com/solux/flory/domain/repository/NeighborRepository.kt
  app/src/main/java/com/solux/flory/presentation/date/DateFragment.kt
  app/src/main/java/com/solux/flory/presentation/date/DateViewModel.kt
  app/src/main/java/com/solux/flory/presentation/gift/confirm/PresentDetailFragment.kt
  app/src/main/java/com/solux/flory/presentation/gift/confirm/PresentViewHolder.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/SelectCardFragment.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/SelectNeighborFragment.kt
  app/src/main/java/com/solux/flory/presentation/profile/NeighborDialogFragment.kt
  app/src/main/java/com/solux/flory/presentation/profile/NeighborsFragment.kt
  app/src/main/java/com/solux/flory/presentation/profile/NeighborsViewModel.kt
  app/src/main/java/com/solux/flory/presentation/profile/ProfileModifyFragment.kt
  app/src/main/java/com/solux/flory/presentation/record/RecordViewModel.kt
Labels: 🍂 [가을], 🌸 [Flory], 🔧 [MOD]

#63 feat: 다이어리 리스트 조회 api 연결 및 자동로그인 구현
  app/src/main/java/com/solux/flory/app/di/LoginModule.kt
  app/src/main/java/com/solux/flory/app/di/RetrofitModule.kt
  app/src/main/java/com/solux/flory/data/dto/request/RequestDiaryModifyDto.kt
  app/src/main/java/com/solux/flory/data/repositoryimpl/DiaryRepositoryImpl.kt
  app/src/main/java/com/solux/flory/domain/repository/DiaryRepository.kt
  app/src/main/java/com/solux/flory/presentation/SplashActivity.kt
  app/src/main/java/com/solux/flory/presentation/date/DateFragment.kt
  app/src/main/java/com/solux/flory/presentation/date/DateViewModel.kt
  app/src/main/java/com/solux/flory/presentation/gift/confirm/ConfirmFragment.kt
  app/src/main/java/com/solux/flory/presentation/gift/confirm/PresentViewModel.kt
  app/src/main/java/com/solux/flory/presentation/home/HomeFragment.kt
  app/src/main/java/com/solux/flory/presentation/home/HomeViewModel.kt
  app/src/main/java/com/solux/flory/presentation/profile/NeighborsFragment.kt
  app/src/main/java/com/solux/flory/presentation/profile/NeighborsViewModel.kt
  app/src/main/res/layout/fragment_gift_search_neighbor.xml
  app/src/main/res/layout/item_gift_search_neighbors.xml
Labels: 🍂 [가을], 🍯 [FEAT], 🌸 [Flory]

#65 mod: 다이어리 조회 수정 api 연결
  app/src/main/java/com/solux/flory/presentation/SplashActivity.kt
  app/src/main/java/com/solux/flory/presentation/auth/LoginActivity.kt
  app/src/main/java/com/solux/flory/presentation/auth/SignUpActivity.kt
  app/src/main/java/com/solux/flory/presentation/auth/SignupViewModel.kt
  app/src/main/java/com/solux/flory/presentation/auth/UserInfoActivity.kt
  app/src/main/java/com/solux/flory/presentation/date/DateFragment.kt
  app/src/main/java/com/solux/flory/presentation/date/DateViewHolder.kt
  app/src/main/java/com/solux/flory/presentation/date/DateViewModel.kt
  app/src/main/java/com/solux/flory/presentation/gift/GiftFragment.kt
  app/src/main/java/com/solux/flory/presentation/gift/confirm/PresentAdapter.kt
  app/src/main/java/com/solux/flory/presentation/gift/confirm/PresentDetailFragment.kt
  app/src/main/java/com/solux/flory/presentation/gift/confirm/PresentInfo.kt
  app/src/main/java/com/solux/flory/presentation/gift/confirm/PresentViewHolder.kt
  app/src/main/java/com/solux/flory/presentation/gift/confirm/PresentViewModel.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/BouquetAdapter.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/BouquetInfo.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/BouquetViewHolder.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/BouquetViewModel.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/SelectBouquetFragment.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/SelectCardFragment.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/SelectNeighborAdapter.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/SelectNeighborFragment.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/SelectNeighborViewHolder.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/SendViewModel.kt
  app/src/main/java/com/solux/flory/presentation/gift/send/WriteMessageFragment.kt
  app/src/main/java/com/solux/flory/presentation/home/HomeFragment.kt
  app/src/main/java/com/solux/flory/presentation/home/HomeViewModel.kt
  app/src/main/java/com/solux/flory/presentation/main/MainActivity.kt
  app/src/main/java/com/solux/flory/presentation/main/MainViewModel.kt
  app/src/main/java/com/solux/flory/presentation/profile/NeighborAdapter.kt
  app/src/main/java/com/solux/flory/presentation/profile/NeighborDialogFragment.kt
  app/src/main/java/com/solux/flory/presentation/profile/NeighborInfo.kt
  app/src/main/java/com/solux/flory/presentation/profile/NeighborViewHolder.kt
  app/src/main/java/com/solux/flory/presentation/profile/ProfileAdapter.kt
  app/src/main/java/com/solux/flory/presentation/profile/ProfileModifyViewModel.kt
  app/src/main/java/com/solux/flory/presentation/profile/ProfileViewHolder.kt
  app/src/main/java/com/solux/flory/presentation/record/FlowerViewModel.kt
  app/src/main/java/com/solux/flory/presentation/record/ModifyFragment.kt
  app/src/main/java/com/solux/flory/presentation/record/ModifyViewModel.kt
  app/src/main/java/com/solux/flory/presentation/record/RecordFragment.kt
  app/src/main/java/com/solux/flory/presentation/record/RecordViewModel.kt
  app/src/main/java/com/solux/flory/presentation/record/SelectFlowerActivity.kt
  app/src/main/java/com/solux/flory/presentation/searchNeighbor/SearchNeighborAdapter.kt
  app/src/main/java/com/solux/flory/presentation/searchNeighbor/SearchNeighborFragment.kt
  app/src/main/java/com/solux/flory/presentation/searchNeighbor/SearchNeighborViewHolder.kt
  app/src/main/java/com/solux/flory/presentation/searchNeighbor/SearchNeighborViewModel.kt
  app/src/main/res/layout/fragment_record.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values/strings.xml
Labels: 🍂 [가을], 🌸 [Flory], 🔧 [MOD]

#66 mod: UI 글씨 키우기
  .idea/deploymentTargetSelector.xml
  app/src/main/java/com/solux/flory/data/dto/request/RequestProfileModifyDto.kt
  app/src/main/java/com/solux/flory/data/dto/response/ResponseDiaryModifyDto.kt
  app/src/main/java/com/solux/flory/data/dto/response/ResponseProfileModifyDto.kt
  app/src/main/java/com/solux/flory/presentation/record/SelectFlowerActivity.kt
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/layout/activity_sign_up.xml
  app/src/main/res/layout/fragment_gift.xml
  app/src/main/res/layout/fragment_gift_confirm.xml
  app/src/main/res/layout/fragment_gift_search_neighbor.xml
  app/src/main/res/layout/fragment_gift_select_bouquet.xml
  app/src/main/res/layout/fragment_gift_select_card.xml
  app/src/main/res/layout/fragment_gift_select_neighbor.xml
  app/src/main/res/layout/fragment_gift_write_message.xml
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/fragment_modify.xml
  app/src/main/res/layout/fragment_neighbors.xml
  app/src/main/res/layout/fragment_profile.xml
  app/src/main/res/layout/fragment_record.xml
  app/src/main/res/layout/item_gift_search_neighbors.xml
  app/src/main/res/layout/item_gift_select_neighbor.xml
  app/src/main/res/layout/item_profile_neighborlist.xml
  app/src/main/res/layout/item_profile_neighbors.xml
Labels: 🐰 [세희], 🌸 [Flory], 🔧 [MOD]
