Repository SOLUX-APP1-FLORY/Flory-Android, pull requests merged in 2024-06, with the labels that each got.

#8 feat: 마이페이지 & 회원 정보 수정 페이지 UI 구현
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/solux/flory/presentation/profile/NeighborInfo.kt
  app/src/main/java/com/solux/flory/presentation/profile/ProfileAdapter.kt
  app/src/main/java/com/solux/flory/presentation/profile/ProfileFragment.kt
  app/src/main/java/com/solux/flory/presentation/profile/ProfileModifyActivity.kt
  app/src/main/java/com/solux/flory/presentation/profile/ProfileViewHolder.kt
  app/src/main/java/com/solux/flory/presentation/profile/ProfileViewModel.kt
  app/src/main/res/drawable/flory.xml
  app/src/main/res/drawable/ic_gift_unselected.xml
  app/src/main/res/drawable/ic_left_arrow.xml
  app/src/main/res/drawable/ic_modify_female_selected.png
  app/src/main/res/drawable/ic_modify_female_unselected.png
  app/src/main/res/drawable/ic_modify_male_selected.png
  app/src/main/res/drawable/ic_modify_male_unselected.png
  app/src/main/res/drawable/ic_profile_birth.xml
  app/src/main/res/drawable/ic_profile_email.xml
  app/src/main/res/drawable/ic_profile_image.png
  app/src/main/res/drawable/ic_profile_my.xml
  app/src/main/res/drawable/ic_profile_sex.xml
  app/src/main/res/drawable/ic_right_arrow.xml
  app/src/main/res/drawable/selector_menu.xml
  app/src/main/res/drawable/selector_modify_female_image.xml
  app/src/main/res/drawable/selector_modify_male_image.xml
  app/src/main/res/drawable/selector_modify_sex_text.xml
  app/src/main/res/drawable/shadow_down_white.xml
  app/src/main/res/drawable/shadow_up_white.xml
  app/src/main/res/drawable/shape_peach_fill_18_rect.xml
  app/src/main/res/drawable/shape_white_line_20_rect.xml
  app/src/main/res/drawable/shape_white_line_7_rect.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/activity_profile_modify.xml
  app/src/main/res/layout/fragment_date.xml
  app/src/main/res/layout/fragment_profile.xml
  app/src/main/res/layout/item_profile_neighbors.xml
  app/src/main/res/menu/bnv_menu.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values-land/dimens.xml
  app/src/main/res/values-v23/themes.xml
  app/src/main/res/values-w1240dp/dimens.xml
  app/src/main/res/values-w600dp/dimens.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/dimens.xml
Labels: 🍂 [가을], 🍯 [FEAT], 🌸 [Flory]

#9 feat: 스플래시/로그인/사용자설정 뷰 및 기능 구현
  .idea/misc.xml
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/solux/flory/presentation/auth/LoginActivity.kt
  app/src/main/java/com/solux/flory/presentation/auth/SplashActivity.kt
  app/src/main/java/com/solux/flory/presentation/auth/UserInfoActivity.kt
  app/src/main/java/com/solux/flory/util/base/BindingActivity.kt
  app/src/main/res/drawable/background_user_info.png
  app/src/main/res/drawable/ic_login_id.png
  app/src/main/res/drawable/ic_login_pw.png
  app/src/main/res/drawable/ic_main_image.png
  app/src/main/res/drawable/ic_pw_visible.png
  app/src/main/res/drawable/ic_social_login_google.png
  app/src/main/res/drawable/ic_social_login_kakao.png
  app/src/main/res/drawable/icon_impossible.png
  app/src/main/res/drawable/icon_impossible_background.xml
  app/src/main/res/drawable/icon_possible.png
  app/src/main/res/drawable/icon_possible_background.xml
  app/src/main/res/drawable/icon_user_input_flower.png
  app/src/main/res/drawable/shape_green_radius7.xml
  app/src/main/res/drawable/shape_peach1_radius15.xml
  app/src/main/res/drawable/shape_peach1_radius7.xml
  app/src/main/res/drawable/shape_peach_left_radius7_peach1_stroke.xml
  app/src/main/res/drawable/shape_peach_right_radius7_peach1_stroke.xml
  app/src/main/res/drawable/shape_transparent_left_radius7_peach1_stroke.xml
  app/src/main/res/drawable/shape_transparent_radius15_gray2_stroke.xml
  app/src/main/res/drawable/shape_transparent_radius7_gray2_stroke.xml
  app/src/main/res/drawable/shape_transparent_right_radius7_peach1_stroke.xml
  app/src/main/res/drawable/shape_white_radius26.xml
  app/src/main/res/drawable/switch_thumb.xml
  app/src/main/res/drawable/switch_track_off.xml
  app/src/main/res/drawable/switch_track_on.xml
  app/src/main/res/drawable/switch_track_selector.xml
  app/src/main/res/drawable/user_female.png
  app/src/main/res/drawable/user_female_off.png
  app/src/main/res/drawable/user_male.png
  app/src/main/res/drawable/user_male_off.png
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/layout/activity_splash.xml
  app/src/main/res/layout/activity_user_info.xml
  app/src/main/res/layout/fragment_date.xml
  app/src/main/res/layout/item_date.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/typography.xml
Labels: 🍓 [희재], 🍯 [FEAT], 🌸 [Flory]

#11 feat: 선물 페이지 UI 구현
  .idea/.name
  .idea/deploymentTargetSelector.xml
  app/src/main/res/drawable/ic_gift_addcircle.xml
  app/src/main/res/drawable/ic_gift_checkcircle.xml
  app/src/main/res/drawable/ic_gift_flower1.png
  app/src/main/res/drawable/ic_gift_flower2.png
  app/src/main/res/drawable/ic_gift_flowerconfirm.png
  app/src/main/res/drawable/ic_gift_flowersend.png
  app/src/main/res/drawable/ic_gift_nouser.xml
  app/src/main/res/drawable/ic_gift_search.xml
  app/src/main/res/drawable/ic_gift_uncheckcircle.xml
  app/src/main/res/drawable/ic_gift_user.xml
  app/src/main/res/drawable/ic_giftbox.xml
  app/src/main/res/drawable/ic_impossible_peach.xml
  app/src/main/res/drawable/ic_search_peach.xml
  app/src/main/res/drawable/shape_peach4_radius30_peach1_stroke.xml
  app/src/main/res/drawable/shape_transparent_radius95_peach1_stroke.xml
  app/src/main/res/layout/activity_gift_searchneighbor.xml
  app/src/main/res/layout/activity_gift_selectneighbor.xml
  app/src/main/res/layout/fragment_gift.xml
  app/src/main/res/layout/item_gift_searchneighbors.xml
  app/src/main/res/layout/item_gift_selectneighbors.xml
  app/src/main/res/layout/item_profile_neighbors.xml
  app/src/main/res/values/colors.xml
Labels: 🐰 [세희], 🍯 [FEAT], 🌸 [Flory]
